div.fundo-logo{

    position: absolute;
    display: inline-block;
    width: 300px; 
    height: 300px;
    border-radius: 50%;
    background-color: rgb(54, 156, 240);
    margin:  60px 20px 30%;
}

div.logo{
    
    max-width:200px;
    max-height: 20px;
    width: auto;
    height: auto;
}
